namespace: home-assistant

resources:
  - resources/pvc.yaml
  - resources/service.yaml
  - resources/statefulset.yaml

images:
  - name: homeassistant/aarch64-addon-otbr
    newTag: 2.15.1
  - name: nginx
    newTag: 1.29.3

configMapGenerator:
  - name: otbr-supervisor
    files:
      - files/nginx.conf
  - name: route-manager-openthread-border-router
    files:
      - ../../../home-assistant/base/files/route-manager.sh

patches:
  # Ensure DNS routes correctly while using multus
  - target:
      kind: StatefulSet
      name: openthread-border-router
    path: ../../../multus/shared/dns-route.yaml
  # Ensure route advertisements update the routing table for thread
  - target:
      kind: StatefulSet
      name: openthread-border-router
    path: patches/route-manager.yaml
