apps:
  - app: onepassword
    namespace: onepassword
    directory: "/"
    wave: "0"
  # Wave 1
  - app: asus-router
    namespace: asus-router
    directory: "/"
    wave: "1"
  - app: cert-manager
    namespace: cert-manager
    directory: "/"
    wave: "1"
  - app: logdna-agent
    namespace: logdna-agent
    wave: "1"
  - app: traefik
    namespace: kube-system
    directory: "/"
    wave: "1"
  # Wave 2
  - app: argocd
    namespace: argocd
    syncOptions:
      # Ensure argocd resources are not deleted (prevents other resource deletion)
      - "PrunePropagationPolicy=orphan"
    wave: "2"
  # Wave 3
  - app: adguard-home
    namespace: adguard-home
    wave: "3"
  - app: argocd-ingress
    namespace: argocd
    wave: "3"
  - app: cloudflare-ddns
    namespace: cloudflare-ddns
    wave: "3"
  - app: ha-ingress
    namespace: ha-ingress
    wave: "3"
  - app: mosquitto
    namespace: mosquitto
    wave: "3"
