namespace: home-assistant

images:
  - name: homeassistant/aarch64-addon-matter-server
    newTag: 8.1.1
  - name: nginx
    newTag: 1.29.3

resources:
  - resources/pvc.yaml
  - resources/service.yaml
  - resources/statefulset.yaml

configMapGenerator:
  - name: matter-supervisor
    files:
      - files/nginx.conf
  - name: route-manager-matter-server
    files:
      - ../../home-assistant/base/files/route-manager.sh

patches:
  # Ensure DNS routes correctly while using multus
  - target:
      kind: StatefulSet
      name: matter-server
    path: ../../multus/shared/dns-route.yaml
  - target:
      kind: StatefulSet
      name: matter-server
    path: patches/multus-interface.yaml
  # Ensure route advertisements update the routing table for thread
  - target:
      kind: StatefulSet
      name: matter-server
    path: patches/route-manager.yaml
